<div id="contact" class="padding-top-large padding-bottom-large">
	<div class="container">
		<div class="row">
			<div class="panel" id="projectPanel">
				<div class="container">
					<div class="heading" id="projectHeader">
						<h1>Projects</h1>
					</div>
					<div class="content" id="projectContent">
						<p>
							Current and previous projects.
						</p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="panel" id="samplePanel">
				<div class="container">
					<div class="heading" id="sampleHeader">
						<h1>Sample Work</h1>
					</div>
					<div class="content" id="sampleContent">
						<p>
							Links to sample pages.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>