<div class="container">
	<div id="contact" class="sColor padding-top padding-bottom-large box-shadow-top border-top">
		<div class="container">
			<div class="row text-center">
				<h1>Contact Information</h1>
			</div>
			<div>
				<ul>
					<li><a style="margin-top:10px" target="blank" data-ng-href="https://www.linkedin.com/pub/agustin-rivera/58/205/71a">LinkedIn</a></li>
					<li><a target="blank" data-ng-href="mailto:riveralongoria.a@gmail.com">Email</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>