<div id="contact" class="sColor padding-top-large padding-bottom-large box-shadow-top border-top">
	<div class="container">
		<div class="row text-center">
			<h1>Contact Information</h1>
		</div>
		<div>
			<ul>
				<li><a style="margin-top:10px" target="blank" data-ng-href="https://www.linkedin.com/pub/agustin-rivera/58/205/71a"><img class="" data-ng-src="img\LinkedIn.png" alt="LinkedIn Profile"></a></li>
				<li><a target="blank" data-ng-href="mailto:riveralongoria.a@gmail.com"><img class="" data-ng-src="img\Google_Mail.png" alt="LinkedIn Profile"></a></li>
			</ul>
		</div>
	</div>
</div>