<!DOCTYPE html>
<html>
	<head>
		<title>ARLink</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="ARLink - Web design by Agustin Rivera-Longoria for the modern world.">
		<meta name="keywords" content="Agustin, Rivera-Longoria, Modern, Web, Design, Development, UI, UX, Austin, Texas">
		<link rel="stylesheet" href="lib\bootstrap.min.css" />
		<link rel="stylesheet" type="text\css" href="lib\styleSheet.css">
	</head>
	<body data-ng-app="portfolio" id="pageTop">
		<div class="container">
			<div class="row sColor box-shadow-top border-top">
				<h1>Contact Information</h1>
			
				<span>
					<a style="margin-top:10px" target="blank" data-ng-href="https://www.linkedin.com/pub/agustin-rivera/58/205/71a">LinkedIn</a>
				</span>
				<span>
					<a target="blank" data-ng-href="mailto:riveralongoria.a@gmail.com">Email</a>
				</span>
			</div>
		</div>
		<script src="lib\jquery-1.11.3.min.js"></script>
		<script src="lib\bootstrap.min.js"></script>
		<script src="lib\angular.min.js"></script>
		<script src="app.js"></script>	
	</body>
</html>