<div id="title" class="sColor padding-bottom-medium text-center">
	<div class="container">
		<div class="row padding-top-large">
			<div class="col-xs-12 col-sm-3">
				<img id="portrait" data-ng-class="{'responsive pull-right' : navMode == 'full'}" data-ng-src="img\portfolio_picture.png"/>
			</div>
			<div class="col-xs-12 col-sm-8" data-ng-class="{'margin-top' : navMode == 'full', 'padding-bottom-medium' : navMode == 'mobile'}">
				<h1 class="">Agustin Rivera-Longoria</h1>
				<p class="lead"><strong>-- your Link to web design and development for the modern world --</strong></p>
			</div>
		</div>
	</div>
</div>